#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.footer-content div {
        display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 20px;
}

.footer-content p {
    width: 80%;
}

.imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: row !important;
}

@media screen and (max-width: 900px) {
    .footer-content {
        gap: 50px;
        flex-wrap: wrap;
    }

    
}